@import url('https://fonts.cdnfonts.com/css/pp-neue-montreal');

.icon-value {
  margin-top: 120px;
  font-size: 6rem;
}

.border-values {
  border-width: 1px;
  border: 1px solid #e7e3e3;
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 5px #aaaaaa;
  border-radius: 5px;
  margin-bottom: 100px;
  padding: 20px 60px;
}

.ques-values {
  line-height: 1.5;
  font-weight: 500;
  color: rgb(1, 1, 75);
  text-align: justify;
}

.ans-values {
  line-height: 1.4;
  padding: 5px 0px;
  text-align: justify;
  margin-bottom: 20px;
}

.dom-border {
  padding: 10px 20px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border-radius: 10px;
  text-align: left;
  overflow-y: auto;
  width: 440px;
}

.link {
  padding: 1px 5px;
  border-style: solid;
  border-radius: 50px;
  border-width: 1px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  text-align: center;
  text-transform: uppercase;
}
.link:hover {
  background-color: black;
  color: azure;
}
.link-youtube {
  padding: 1px 5px;
  border-style: solid;
  border-radius: 50px;
  border-width: 1px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  text-align: center;
  text-transform: uppercase;
}
.link-youtube:hover {
  background-color: rgb(255, -0, 0);
  color: azure;
}
.neuro-text {
  font-size: x-large;
  font-weight: 100px;
  padding-bottom: 5px 5px;
  /* background-color: rgb(0, 71, 195); */
  background-color: rgb(69, 91, 100);
  color: white;
  width: 180px;
  font-style: italic;
  text-align: center;
  border-radius: 50px;
  margin-left: 10px;
}

img {
  border-radius: 50%;
  width: 200px;
}

@media only screen and (max-width: 1000px) {
  .icon-value {
    text-align: center;
    margin-top: 30px;
    font-size: 5rem;
  }
  .ques-values {
    margin: 0px -40px;
  }
  .ans-values {
    margin: 0px -40px;
  }
  .dom-border {
    align-items: center;
    justify-content: center;
    text-align: justify;
    width: auto;
  }
}
