@import url('https://fonts.cdnfonts.com/css/pp-neue-montreal');

.icon-learn {
  margin-top: 120px;
  font-size: 6rem;
}

.box-plan {
  border-width: 1px;
  border: 1px solid #e7e3e3;
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 5px #aaaaaa;
  border-radius: 5px;
  margin-bottom: 100px;
  padding: 20px 60px;
}

.ques {
  line-height: 1.5;
  font-weight: 500;
  color: rgb(1, 1, 75);
  text-align: justify;
}

.ans {
  line-height: 1.4;
  padding: 3px 0px;
  text-align: justify;
  margin-bottom: 20px;
}

@media only screen and (max-width: 1000px) {
  .icon-learn {
    text-align: center;
  }
}
