@import url('https://fonts.googleapis.com/css2?family=Mingzat&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Mingzat', sans-serif;
}

body {
  max-width: 900px;
  margin-inline: auto;
  padding: 0 20px;
}

p {
  line-height: 1.5;
  text-align: justify;
}
li,
a,
button {
  font-weight: 500;
  font-size: 16px;
  color: rgb(27, 20, 34);
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  justify-content: space-between;
}

.logo {
  font-style: italic;
  color: rgb(0, 0, 0);
  font-weight: bolder;
}

.nav-list {
  list-style: none;
}

.nav-list li {
  display: inline-block;
  padding: 0px 20px;
  cursor: pointer;
}

.nav-list li a {
  transition: all 0.3s ease 0s;
}
.nav-list a:hover {
  color: rgb(194, 148, 11);
}
.contact:hover {
  color: white;
}
.get-started {
  padding: 4px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  background-color: rgb(69, 90, 100);
  color: rgb(255, 255, 255);
  text-align: center;
  text-transform: uppercase;
}
.con {
  padding: 4px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  background-color: rgb(255, 193, 0);
}

con:hover {
  background-color: rgb(228, 175, 13);
}
.para {
  display: inline-block;
  align-items: center;
  font-family: sans-serif;
  padding: 90px 0px 10px 0px;
}

.swtich-p {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 240, 196);
  border-radius: 10px;
}

.swtich-para {
  padding: 20px;
  font-size: 20px;
}
.swtich-para > h2 {
  font-size: 40px;
  line-height: 1;
  margin-bottom: -20px;
}
.swtich-para > p {
  font-size: 16px;
  line-height: 1.5;
  width: 80%;
  margin-bottom: 12px;
}

.para-two {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-text {
  text-align: left;
  width: 400px;
  text-align: justify;
  background-color: rgb(255, 193, 0);
  color: rgb(3, 3, 3);
  border-radius: 10px;
  padding: 20px 20px;
}
.right-text {
  text-align: right;
  width: 400px;
  text-align: justify;
  background-color: rgb(69, 90, 100);
  color: azure;
  border-radius: 10px;
  padding: 20px 20px;
}
footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 30px 0;
}
footer li {
  list-style: none;
  text-decoration: underline;
}

@media only screen and (max-width: 900px) {
  .swtich-p {
    flex-direction: column;
  }
  .nav-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .con {
    margin-top: 8px;
    padding: 5px 40px;
  }
  .para-two {
    display: flex;
    flex-direction: column;
  }

  footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
