@import url('https://fonts.googleapis.com/css2?family=Mingzat&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

body {
  max-width: 900px;
  margin-inline: auto;
}

p {
  line-height: 1.5;
  text-align: justify;
}
li,
a,
button {
  font-family: 'Mingzat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: rgb(27, 20, 34);
  text-decoration: none;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo {
  margin-right: auto;
  font-family: 'Mingzat', sans-serif;
  font-style: italic;
  color: rgb(255, 193, 0);
  font-weight: 1000px;
}

.nav-list {
  list-style: none;
}

.nav-list li {
  display: inline-block;
  padding: 0px 20px;
  cursor: pointer;
}

.nav-list li a {
  transition: all 0.3s ease 0s;
}
.nav-list li a:hover {
  color: rgb(255, 202, 44);
}
button {
  margin-left: 20%;
  padding: 4px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  background-color: rgb(255, 202, 44);
}

button:hover {
  background-color: rgb(197, 148, 0);
}
.para {
  display: inline-block;
  align-items: center;
  font-family: sans-serif;
}

.swtich-p {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
